<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RewriteHome" stopProcessing="true">
                    <match url="^(.*)$"  ignoreCase="true" />
					<action type="Rewrite" url="/index.php?page={R:1}"  appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
