.marginLeft{
	margin-left:10px;
}
.marginTop{
	margin-top:10px;
}
.marginTopBottom{
	margin:10px 0px 10px 0px;
}

.titleS{
	margin-bottom:10px;
	font-size:20px;
	font-weight:700px;	
}


.forumDiv{
	width:300px;
	float:left;
}


.offices_X{
	margin-bottom:10px;

}


.offices_X .item{
	margin-bottom:10px;
	border:1px dashed #CCCCCC;
	padding:20px 20px 20px 20px;
}

.offices_X .item .edit{
	float:right;
	margin:5px 0px 10px 10px;
	width:120px;
	background-color:#EFEFEF;
	text-align:center;
	padding:10px 10px 10px 10px;
}

.offices_X .item .tits{
	clear:both;
	font-size:20px;
	margin-bottom:10px;
	font-weight:700;
}


.signatures{
	margin-bottom:10px;

}


.signatures .item{
	margin-bottom:10px;
	border:1px dashed #CCCCCC;
	padding:20px 20px 20px 20px;
}

.signatures .item .edit{
	float:right;
	margin:5px 0px 10px 10px;
	width:120px;
	background-color:#EFEFEF;
	text-align:center;
	padding:10px 10px 10px 10px;
}

.signatures .item .val{
	clear:both;
}


.signatureslistimages{
	width:640px;
	border:1px solid #999;
	overflow:scroll;
	height:200px;
	padding:5px 5px 5px 5px;
}

.signatureslistimages .items{
	float:left;
	margin-left:10px;
	border:1px solid #CCC;
	margin-bottom:10px;
	padding:5px 5px 5px 5px;
	position:relative;
}
.signatureslistimages .items .del{
	right:5px;
	background-color:#E7F3FA;
	padding:2px 15px 2px 15px;
	position:absolute;
	font-size:11px;
	font-weight:bold;
	border-radius:5px;
	cursor:pointer;
}
.signatureslistimages .items .del img{
	width:14px;
	height:14px;
	margin-right:5px;
}

.signatureslistimages .items img{
	height:80px;
}

.signatureslistimages .items .click{
	text-align:center;
	clear:both;
	margin-top:5px;
}

.signatureslistimagesbutton{
	text-align:center;
}

.logoSettings{
	float:left;
	width:200px;
	margin-left:20px;
}
.logoSettings .item{
	border-bottom:1px dashed #999;
	margin-bottom:10px;
	cursor:pointer;
	padding-bottom:5px;
}
.logoSettings .item img{
	margin-right:10px;
}
.officelist{
	margin-top:10px;
}

.pager_x{
	float:right;
	margin-top:10px;
	
}


.departments{
	margin-top:10px;
}
.departments .boxT{
	float:left;
	margin-right:10px;
	border:1px solid #EFEFEF;
	padding:10px 10px 10px 10px;
	width:370px;
}

.departments .item{
	
}


.mailsablonudiv{
	border:1px solid #999;
	padding:20px 20px 20px 20px;
}

.hesap_b{
	border:3px dashed #666666;
	padding:10px 10px 10px 10px;
	width:250px;
}

.mediaproperty{
	margin-top:10px;
	border-top:2px dashed #999999;
	padding-top:10px;
	margin-bottom:10px;
	
}

.mediaproperty .item1{
	width:45%;
	float:left;
	background-color:#EFEFEF;
	padding:20px 20px 20px 20px;
	border-bottom:1px solid #999;
}

.mediaproperty .item2{
	width:45%;
	float:left;
	background-color:#D7D7D7;
	padding:20px 20px 20px 20px;
}

.mediaproperty .borderX{
	border-right:1px solid #999;
}