header {
  text-align: center;
 background-color: #e74c3c;
  margin-top: 80px;
	
 background-position: center top;
	   -moz-background-size: 1360px auto;           /* Gecko 1.9.2 (Firefox 3.6) */
		 -o-background-size: 1360px auto;           /* Opera 9.5 */
	-webkit-background-size: 1360px auto;           /* Safari 3.0 */
			background-size: 1360px auto;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */

	   -moz-border-image: url(../img/img-header.jpg) 1360px auto;    /* Gecko 1.9.1 (Firefox 3.5) */

	background-size: 1360px auto;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/img-header.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/img-header.jpg', sizingMethod='scale')";
}